@import "tailwindcss";

@theme {
  --color-primary: #0242d0;
  --color-primary-dark: #073988;
  --color-primary-light: #1a85ea;
  --color-secondary: #065bd2;
  --color-accent: #55c1fd;
  --color-accent-light: #87b5e8;
  --color-tint: #eff5fc;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}